.flex{
    display:flex;
}

li img{
    width: 100%;
    height: auto;
}
li.post{
    list-style-type: none;
    padding-left: 5%;
}
form.order{
    text-align: right;
}   
.price{
    text-align: right;
    margin-right: 10%;
}


.ticket{
    padding-top:2%;
    width:70%;
}
.news{
    padding-top:5%;
    width:30%;
    margin-left: 0%;
}