.main{
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
.main-left{
    padding-right: 50px;
    margin-top: 20px;
}
.intro h3{
    font-size: 35px;
    color: #54317b;
}
.intro span{
    position: static;
    top: 0;
    left: 50px;
}
.description{
    width: 200px;
    line-height: 20px;
}
.add-ticket input{
    width: 50px;
}
.main button{
    background-color: #54317b;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
}
.products{
    display: flex;
    width: 145px;
    height: 145px;
}
.products img{
    width: 145px;
    height: 145px;
}
.products button{
    margin-top: 20px;
}
.title{
    height: 31px;
    font-size: 14px;
}
.col{
    padding-right: 20px;
}