.main {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

.main-body {
    display: flex;
}

.image img {
    width: 730px;
    height: 514px;
}

.image {
    margin-left: 65px;
    margin-right: 65px;
}
.title{
    color: #61318c;
}
.info {
    width: 350px;
    color: #61318c;
    line-height: 1.7;
}

.info a {
    text-decoration: none;
    color: blue;
}

.back {
    margin-top: 50px;
}